
.scrollToTop {
  background-color: #3fc35f;
  border: 2px solid #3fc35f;
}

.mu-readmore-btn {
  color: #3fc35f;
}
.mu-readmore-btn::after {
  border: 2px solid #3fc35f;
}
.mu-readmore-btn:hover, .mu-readmore-btn:focus {
  background-color: #3fc35f;
}
.mu-readmore-btn:hover::after, .mu-readmore-btn:focus::after {
  border-color: #3fc35f;
}

.mu-send-btn:hover, .mu-send-btn:focus {
  background-color: #3fc35f;
  border-color: #3fc35f;
}

.mu-main-navbar .mu-main-nav li a:hover, .mu-main-navbar .mu-main-nav li a:focus {
  color: #3fc35f;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3fc35f;
}

#mu-slider .mu-slider-area .mu-top-slider .mu-top-slider-single .mu-top-slider-content .mu-slider-small-title {
  color: #3fc35f;
}
#mu-slider .mu-slider-area .mu-top-slider .slick-prev:hover, #mu-slider .mu-slider-area .mu-top-slider .slick-prev:focus,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:hover,
#mu-slider .mu-slider-area .mu-top-slider .slick-next:focus {
  border-color: #3fc35f;
  background-color: #3fc35f;
}

#mu-about-us .mu-about-us-area .mu-about-us-left ul li:before {
  color: #3fc35f;
}

.mu-title .mu-subtitle {
  color: #3fc35f;
}
.mu-title i {
  color: #3fc35f;
}
.mu-title .mu-title-bar::before {
  background-color: #3fc35f;
}
.mu-title .mu-title-bar::after {
  background-color: #3fc35f;
}

#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu {
  border-bottom: 1px solid #3fc35f;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a {
  background-color: #3fc35f;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a:hover, #mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu li a:focus {
  border-color: #3fc35f #3fc35f transparent;
}
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a:hover,
#mu-restaurant-menu .mu-restaurant-menu-area .mu-restaurant-menu-content .mu-restaurant-menu .active a:focus {
  color: #3fc35f;
  border-color: #3fc35f #3fc35f transparent;
}
.media .media-body .media-heading a:hover, .media .media-body .media-heading a:focus {
  color: #3fc35f;
}
 .mu-menu-price {
  color: #3fc35f;
}

#mu-reservation .mu-reservation-area .mu-reservation-content h3 {
  border-bottom: 2px solid #3fc35f;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"]:focus,
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"]:focus {
  border-color: #3fc35f;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form select:focus {
  border-color: #3fc35f;
}
#mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form textarea:focus {
  border-color: #3fc35f;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover {
  background-color: #3fc35f;
}

.datepicker table tr td.day:hover {
  background-color: #3fc35f;
}

#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider li .mu-testimonial-single .mu-testimonial-bio p {
  font-family: "Open Sans", sans-serif;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots li {
  border: 2px solid #3fc35f;
}
#mu-client-testimonial .mu-client-testimonial-area .mu-testimonial-content .mu-testimonial-slider .slick-dots .slick-active {
  background-color: #3fc35f;
}


#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="text"]:focus,
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form input[type="email"]:focus {
  border-color: #3fc35f;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .mu-contact-form textarea:focus {
  border-color: #3fc35f;
}
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right .mu-contact-widget h3 {
  color: #3fc35f;
}

#mu-footer .mu-footer-area .mu-footer-social a:hover, #mu-footer .mu-footer-area .mu-footer-social a:hover {
  background-color: #3fc35f;
}
#mu-footer .mu-footer-area .mu-footer-copyright p a:hover, #mu-footer .mu-footer-area .mu-footer-copyright p a:focus {
  color: #3fc35f;
}

#respond input[type="text"]:focus,
#respond input[type="email"]:focus,
#respond input[type="url"]:focus {
  border-color: #3fc35f;
}
#respond textarea:focus {
  border-color: #3fc35f;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3fc35f;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #3fc35f;
}
